body, h1, .timer, button {
  font-family: 'Orbitron', sans-serif !important;
}

body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

body.light-mode {
  background-color: #f5f5f5;
  color: #121212;
}

h1 {
  font-size: 1.5rem;
}

.timer {
  font-size: 15vw;
  font-weight: bold;
  text-align: center;
}
